*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.about-text h1{
        color:blanchedalmond;
        font-size: 80px;
        max-width: capitalize;
        margin-bottom: 20px;
        align-items: center;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(230, 199, 230);
    justify-content: center;
}
.timeline{
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
.timeline ul{
    list-style: none;
}
.timeline ul li{
    padding: 20px;
    background-color: rgb(238, 235, 240);
    color: rgb(19, 7, 41);
    border-radius: 10px;
    margin-bottom: 20px;
}
.timeline ul li:last-child{
    margin-bottom: 0;

}
.timeline-content h1{
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}
.timeline-content p{
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

@media only screen and (min-width: 768px) {
    
    .timeline ul li{
        width: 50%;
        margin-bottom: 50px;
        position: relative;
        
    }
    .timeline ul li:nth-child(odd) {
        float: left;
        clear: right;
    }
    .timeline ul li:nth-child(even) {
        float: right;
        clear: left;
    }
}